* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
}

/******************************************************************/
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/******************************************************************/
/*header*/
.header-div {
    background-color: lightgray;
    flex: 80px 0 0;
    padding: 1.3em 1.5em;
    font-family: Montserrat;
}

/******************************************************************/
/*form*/
.form-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}

.event-form {
    box-sizing: border-box;
    padding: 4em 8em;
    overflow: auto;
    flex: 1;

}

.event-form .form-list {
    list-style-type: none;
    font-family: Raleway;
    display: grid;
    gap: 50px;
    grid-template-columns: 50em;
}

.form-row {
    display: flex;
}

.form-row label {
    font-size: 25px;
    width: 8em;
}

.form-row input,
.form-row textarea {
    padding-left: 20px;
    font-size: 15px;
    width: 500px;
}

.form-row input {
    height: 3em;
}

/******************************************************************/
/*FOOTER*/
footer {
    box-sizing: border-box;
    flex: 3em 0 0;
    /*40px height, don't grow or shrink*/
    padding: 0 0.5em;

}

footer .buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 7em);
    grid-template-rows: 50px;
    justify-content: flex-end;
    padding-top: 0.5em;
}

footer .buttons input,
footer .buttons button {
    height: 3em;
    width: 7em;
    font-family: Montserrat;
}

footer .buttons input {
    background-color: crimson;
    border-width: 0.5px;
    border-color: white;
    color: white;
}

footer .buttons input:hover:not([disabled]) {
    border-color: lightgrey;
    font-weight: bold;
    border-width: 4px;
}

footer .buttons button {
    background-color: white;
    border-width: 0.5px;
    border-color: crimson;
    color: crimson;
    font-weight: bold;
}

footer .buttons button:hover {
    font-weight: bold;
    border-width: 4px;
}

footer .buttons input:disabled {
    background-color: grey;
    opacity: 0.6;
    cursor: not-allowed;
}
