* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
}


/******************************************************************/
/*FOR THE MAIN-FLEX*/
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/******************************************************************/
/*FOR THE HEADER (NAV BAR)*/
header {
    box-sizing: border-box;
    background-color: #171515;
    color: white;
    flex: 80px 0 0;
    /*80px height, don't grow or shrink*/
    padding: 1.3em 1.5em;
    display: flex;
    justify-content: space-between;

}

header h1,
header .new-button {
    width: 100px;
    height: 40px;
}

header h1 {
    font-family: Montserrat;
    font-weight: 200;
}

header .new-button {
    background-color: white;
    font-family: Raleway;
    text-align: center;
    color: #171515;
    font-size: 15px;
}

/******************************************************************/
/*FOR SEARCH BAR AND THE SORTING LIST*/
.searchbar-sortlist-div {
    background-color: white;
    flex: 60px 0 0;
    /*60px height, don't grow or shrink*/
    padding: 1em 0.7em;
    display: flex;
    justify-content: space-between;
}

.searchbar-sortlist-div .searchbar {
    box-sizing: border-box;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    font-family: Raleway;
    padding-left: 15px;
}

.searchbar-sortlist-div .options .sort-options-label {
    box-sizing: border-box;
    height: 30px;
    padding-right: 15px;
    font-size: 15px;
    font-family: Raleway;
}

.searchbar-sortlist-div .options .sort-options {
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-family: Raleway;
}

/******************************************************************/
/*FOR THE RESULTS SECTION*/
.results-section {
    background-color: whitesmoke;
    border: 1px solid #747272;
    border-radius: 4px;
    margin: 0 10px;
    overflow: auto;
    flex: 1;
    /*the internal flexbox*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

.results-section .header {
    box-sizing: border-box;
    background-color: #c0c0c0;
    height: 50px;
    padding-top: 13px;
    padding-left: 1.1em;
}

.results-section .header h2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
}

.results-section .content {
    padding: 40px;
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 200px;
    justify-content: center;
    flex: 1;
    overflow: auto;
}

.results-section .content .card {
    background-color: lightgrey;
}


/******************************************************************/
/*FOR THE FOOTER SECTION*/
footer {
    box-sizing: border-box;
    flex: 50px 0 0;
    /*40px height, don't grow or shrink*/
    margin-top: 20px;
}

footer p {
    padding-top: 10px;
    padding-left: 20px;
    color: #757575;
    font-family: Raleway;
    font-size: 15px;
}